{% if site.theme_settings.footer_text %}
<footer class="page-footer indigo lighten-5">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5>Footer</h5>
        "The gum you like is going to come back in style."
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="black-text">Links</h5>
				<ul class="icons">{% include icons.html %}</ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2017 Caleb Ontiveros
    <a class="right">"Change your anchor to what did not happen rather than what did happen"</a>
    </div>
  </div>
</footer>
{% endif %}
