{% if site.theme_settings.footer_text %}
<footer class="page-footer indigo lighten-5">
  <div class="container">
    <div class="row">
      <div class="col l4 s12">
        <h5 class="black-text">Links</h5>
				<ul class="">{% include icons.html %}</ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2017 Caleb Ontiveros
    <a class="right" id="random-quote"></a>
    </div>
  </div>
</footer>
{% endif %}

<script type=text/javascript>
const QUOTES = [
        // "For life to be really fun, what you fear should line up with what you desire.",
        // "Dealing with failure is easy: Work hard to improve. Success is also easy to handle: Work hard to improve.",
        // "I never look back, darling, it distracts from the now.",
        // "I’m the speed of light cracking through shivery atoms and god the sky whirls and withers like a melting rainbow."
      ],
      anchor = document.getElementById("random-quote");

let i = Math.floor(Math.random() * QUOTES.length),
    quote = QUOTES[i];

anchor.textContent = quote;
</script>
