<header>
	<nav class="nav indigo lighten-5">
		<div class="container">
			<div class="nav-wrapper">
				<a href="{{ site.baseurl }}/" class="title black-text">{{ site.theme_settings.title }}</a>
				<ul class="right">
					{% for page in site.pages %}
					{% if page.title and page.hide != true %}
					<li>
						<a class="black-text" href="{{ page.url | prepend: site.baseurl }}">
							{{ page.title }}
						</a>
					</li>
					{% endif %}
					{% endfor %}
				</ul>
			</div>
		</div>
	</nav>
</header>
