.site-footer {
  @extend %padding-regular;
  display: inline-block;
  text-align: center;
  width: 100%;
  color: lighten($text-color, 30%);
  font-size: 0.9em;
}

.icons {
  color: black;
  display: inline-flex;
  cursor: pointer;
}
